* {
  font-family: "Caveat", cursive;
}
p {
  font-size: 2em;
  line-height: 1.8;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration-line: underline;
  text-decoration-style: dashed;
}
