* {
  font-family: "Vazirmatn";
  direction: rtl;
}
body div{
  padding: 2rem;
}
h1 {
  text-align: center;
}
p {
  font-size: 2em;
  line-height: 1.8;
}

a {
  color: #4879df;
  text-decoration-line: none;
  line-height: 2.5;
}

a:hover {
  text-decoration-color: #4879df;
  text-decoration-line: underline;
}

a:active,
a:visited {
  text-decoration-color: #4879df;
  text-decoration-line: line-through;
}

.background {
  background-color: #f6f6f6;
}
